{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/models.css' %}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">
{% endblock head %}

{% block content %}
<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

<div class="container">
    <div class="main-body">
        <div class="row">

            <!-- Upload ZIP -->
            <div class="col-lg-3 col-md-6 mb-3">
                <div class="row">
                    <div class="card">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Upload ZIP of Images</h6>
                        </div>
                        <div class="card-body">
                            <input id="zip-input-batch" type="file" accept=".zip"
                                class="form-control bg-dark text-light border-secondary">
                            <button class="btn btn-primary mt-3 w-100" id="run-batch-btn">Run Batch Analysis</button>
                            <p id="single-loading-text" class="mt-3 text-center" style="color: rgb(195, 3, 3);">
                                Results will appear
                            </p>

                            <!-- Instructions box -->

                        </div>
                    </div>
                </div>
                <!-- <div class="row mt-2">
                    <div class="mt-1 p-2 bg-dark text-light rounded small">
    <strong>Instructions:</strong><br>
    • Upload a ZIP file with the following structure:<br>
    <pre style="background:#171717; color:#fff; padding:5px; border-radius:5px;">
Main_Folder/
├── Buds/
│   ├── Irrigated/
│   │   ├── 1/
│   │   │   ├── 1.jpg
│   │   │   └── 2.jpg
│   └── Non-Irrigated/
├── Fruits/
│   ├── Irrigated/
│   └── Non-Irrigated/
    </pre>
</div>

                </div> -->
            </div>

            <!-- Results -->
            <div class="col-lg-9 col-md-6">
                <div class="card">
                    <div class="card-header py-3 text-center">
                        <h6 class="m-0 font-weight-bold text-primary">Batch Analysis Results</h6>
                    </div>
                    <div class="card-body" style="min-height: 300px;">
                        <div id="table-container" class="display w-100"></div>
                        <div id="metrics-output-single" class="mt-3 text-center text-primary small">
                            Select a ZIP and click Run Analysis.
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

<script src="{% static 'assets/js/batch_zip.js' %}"></script>
{% endblock scripts %}