.image-container {
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image-container::before {
    content: '';
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 1px;
    right: 1px;
    border: 1px dashed #cccccc; 
    pointer-events: none; 
}